body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c564b; /* Matches border color for a unified look */
}

.container {
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    max-height: 600px;
    background-color: #f1dec9;
    border: 5px solid #8c564b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribute space evenly */
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.container > div:first-child {
    margin-top: -20px; /* Moves the top text up */
}

.instrument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instrument img {
    width: 350px;
    height: auto;
}

.menu {
    margin-top: 20px;
}

.menu-button {
    cursor: pointer;
    width: 150px;
    height: auto;
    background-color: #ffffff;
    border: 4px solid #333;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


