.instrument-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instrument-title {
  font-size: 30px;
  margin-right: 10px;
}

.instrument-button button {
  background-color: brown;
  width: 150px;
  height: 60px;
  cursor: pointer;
  font-size: 30px;
  margin: 5px;
}
