.time .turn {
  color: #ffe0b5;
  font-size: 40px;
  margin: 0px;
}

.timer {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #462521;
  font-size: 55px;
}

.time-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  color: #462521;
  font-size: 45px;
  margin: 0px;
}

.timer-background {
  position: relative;
  display: inline-block;
}

.timer-background img {
  margin-top: 10px;
  width: 70%;
}

.turn-pointer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.turn-pointer img {
  width: 150px;
}

.gameplay {
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sequence-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.sequence {
  width: 80px;
  height: 120px;
  background-color: white;
  border: #ffe0b5 solid 7px;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;
}

.note {
  font-size: 40px;
  color: #462521;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  width: 175px;
  height: 50px;
  background-color: #ffe0b5;
  color: #462521;
  cursor: pointer;
  font-size: 30px;
  border: 4px solid;
  border-color: #826c34;
}
.reset,
.replay {
  padding: 10px;
  background-color: #ffe0b5;
  color: #462521;
  border: none;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  gap: 10px;
}

.replay img {
  width: 50px;
}

.piano-keys {
  display: flex;
  background-color: black;
  padding: 5px;
  width: fit-content;
  margin-left: 60px;
  margin-right: 100px;
}

.white-key {
  width: 60px;
  height: 150px;
  background-color: #d9d9d9;
  border: 4px solid #000;
  margin-right: -4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  color: #000;
  position: relative;
  z-index: 1;
}

.white-key:last-child {
  margin-right: 0; /* No overlap on the last key */
}

.white-key::before {
  content: "";
  position: absolute;
  top: 0;
  left: 75%;
  transform: translateX(-50%);
  width: 30px;
  height: 80px;
  background-color: #000;
  z-index: 2;
}

.piano-keys .white-key:nth-child(3)::before,
.piano-keys .white-key:nth-child(7)::before {
  display: none; /* No black key above E and B */
}

.button-ready-clicked {
  color: var(--white);
  background-color: green;
  border-color: green;
  width: 150px;
  height: 30px;
  font-size: 21px;
}

.waiting-message {
  color: white;
  font-size: 20px;
}
