body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.select-container {
    width: 1200px;
    height: 550px;
    background-color: #f1dec9;
    border: 5px solid #8c564b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    position: relative;
}
  
  /* Styling for the "Choose your instrument" text */
  .select-title {
    position: absolute;
    color: #4d3628;
    top: 50px; /* Moves the text to the top of the container */
    font-weight: bold;
    
  }
  
  /* Border and background */
  
  /* Container for the instrument images */
  .instrument-selection {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Ensure images are well spaced */
    max-width: 600px; /* Set a max width to limit the size */
    margin-top: 20px;
  }
  
  /* Styling for each instrument image */
  .instrument-image {
    cursor: pointer;
    width: 350px; /* Smaller size matching the image */
    transition: transform 0.2s ease;
    margin: 0 30px;
  }
  
  /* Hover effect for each instrument image */
  .instrument-image:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  
  /* Background pattern to match the hex design */
  
  
  
  
  