/* Main container for the SupportUs page */
.supportus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    color: #ffffff; /* White text color */
    height: 95vh; /* Fill the page height */
    padding: 10px; /* Adjusted padding */
}

/* Thank You logo styling */
.thankyou-logo {
    width: 100%; /* Responsive width */
    width: 1500px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px; /* Increased margin for spacing */
}

/* Container for names list and QR code */
.names-qr-container {
    display: flex;
    align-items: center;
    width: 1200px;
    gap: 200px; /* Increased gap */
    margin-bottom: 30px; /* Increased margin */
    background-color: #462521;
    padding: 40px;
    
}

/* Names list styling */
.names-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjusted gap */
}

.names-list p {
    font-size: 2rem; /* Increased font size for better readability */
    margin: 0;
    color: white; /* White text color */
}

/* QR code styling */
.qr {
    width: 400px; /* Adjusted width for QR code */
    height: auto;
    border-radius: 10px;
    box-shadow: none;
}

.menu {
    margin-top: 20px;
}

.menu-button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border: 4px solid #333;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


